/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
  --color-main: #000;
  --background-color: #fff;
  --font-weight-main: 400;
  --font-weight-subtitle: 700;
  --color-shadow: #fff;
  --background-image: repeating-linear-gradient(
      to left,
      transparent 0 2px,
      #d3d3d3 2px 4px
    ),
    repeating-linear-gradient(to bottom, transparent 0 2px, #d3d3d3 2px 4px),
    linear-gradient(to bottom, transparent 0 2px, #e7e7e7 0.01%, #1a1a1a);
  --difference: #000;
  --background-button: #fff;
  --heart-contour: #000;
  --heart-background: #ff2400;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-main: #000;
    --background-color: #fff;
    --font-weight-main: 400;
    --font-weight-subtitle: 700;
    --color-shadow: #fff;
    --background-image: repeating-linear-gradient(
        to left,
        transparent 0 2px,
        #d3d3d3 2px 4px
      ),
      repeating-linear-gradient(to bottom, transparent 0 2px, #d3d3d3 2px 4px),
      linear-gradient(to bottom, transparent 0 2px, #e7e7e7 0.01%, #1a1a1a);
    --difference: #000;
    --background-button: #fff;
    --heart-contour: #000;
    --heart-background: #ff2400;
  }
}

:root.theme-dark {
  --color-main: #00cc14;
  --background-color: #000;
  --font-weight-main: 465;
  --font-weight-subtitle: 785;
  --color-shadow: #000;
  --background-image: repeating-linear-gradient(
      to left,
      transparent 0 2px,
      #000 2px 4px
    ),
    repeating-linear-gradient(to bottom, transparent 0 2px, #000 2px 4px),
    linear-gradient(to bottom, transparent 0 2px, #007f0c 0.01%, #004306);
  --difference: #e7e7e7;
  --background-button: #00cc14;
  --heart-contour: #00cc14;
  --heart-background: #ff2400;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-main: #00cc14;
    --background-color: #000;
    --font-weight-main: 465;
    --font-weight-subtitle: 785;
    --color-shadow: #000;
    --background-image: repeating-linear-gradient(
        to left,
        transparent 0 2px,
        #000 2px 4px
      ),
      repeating-linear-gradient(to bottom, transparent 0 2px, #000 2px 4px),
      linear-gradient(to bottom, transparent 0 2px, #007f0c 0.01%, #004306);
    --difference: #e7e7e7;
    --background-button: #00cc14;
    --heart-contour: #00cc14;
    --heart-background: #ff2400;
  }
}
