/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --color-main: #000;
  --background-color: #fff;
  --font-family-accent: "Press Start 2P", fantasy;
  --font-family-main: "Inter-Variable", Arial, sans-serif;
  --font-weight-main: 400;
  --font-weight-subtitle: 700;
  --color-shadow: #fff;
  --gradient-1: #d3d3d3;
  --gradient-2: #e7e7e7;
  --gradient-3: #1a1a1a;
}
